.toastSJZX {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    transition: all 0.3s ease;
    font-family: sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.hiddenSJZX {
    display: none !important;
    pointer-events: none !important;
}

.options-boxSJZX {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    background-color: #fff;
    z-index: 9999;
    border: 1px solid #ccc;
}

.options-boxSJZX>.option {
    cursor: pointer;
    margin-top: 1px;
    position: relative;
    font-size: 10px;
    padding: 5px;
}

.backToTopButtonSJZX {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    z-index: 114514;
}

.limitImageSJZX {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
