#toggleDragBtnSJZX {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    padding: 8px 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggleDragBtnSJZX:hover {
    background-color: #e60000;
}

#copySketeonPostionBtnSJZX {
    position: fixed;
    top: 10px;
    left: 120px;
    z-index: 9999;
    padding: 8px 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#copySketeonPostionBtnSJZX:hover {
    background-color: #e60000;
}

.offscreenContainerSJZX {
    left: -999999px;
    position: absolute;
}

.spine-player-controls-hidden {
    display: none;
}

.spine-player-controls {
    display: none;
}

.spine-player {
    width: 100%;
    height: 100%;
}

.spine-player-canvas {
    width: 100%;
    height: 100%;
}

.sjzxDycWrapper {
    width: var(--SJZX-dyc-width);
    height: 100%;
    left: var(--SJZX-dyc-left);
    pointer-events: none;
}

.sjzxDycWrapper#sjzxDycWrapper-animation {
    z-index: var(--SJZX-dyc-index);
}

.sjzxDycWrapper .bg {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.sjzxDycOutWrapper {
    position: fixed !important;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
