.whichWayOverlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
}
